apiVersion: apps/v1
kind: Deployment
metadata:
    name: todo-deployment
spec:
    replicas: 1
    selector:
        matchLabels:
            app: todo
    template:
        metadata:
            labels:
                app: todo
        spec:
            containers:
            - name: todo
              image: nachomillangarcia/java-todo
              ports:
              - containerPort: 8080
              resources:
                  requests:
                      cpu: 100m
                      memory: 0.1G
                  limits:
                      cpu: 500m
                      memory: 0.5G
              livenessProbe:
                  httpGet:
                      path: /login
                      port: 8080
                  initialDelaySeconds: 120
                  periodSeconds: 10              
              readinessProbe:
                  httpGet:
                      path: /login
                      port: 8080
                  periodSeconds: 10            
              env:
              - name: DB_HOSTNAME
                value: "mysql"
              - name: DB_NAME
                value: todo
              - name: DB_USERNAME
                value: todo
              - name: DB_PASSWORD
                value: pass

