apiVersion: apps/v1
kind: Deployment
metadata:
    name: nginx-deployment
spec:
    strategy:
      type: Recreate  
    selector:
        matchLabels:
            app: nginx
    template:
        metadata:
            labels:
                app: nginx
        spec:
            containers:
            - name: nginx
              image: nginx
              ports:
              - containerPort: 80

              volumeMounts:
              - name: data
                mountPath: /root/my-data
            volumes:
            - name: data
              persistentVolumeClaim:
                claimName: my-data